<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>buyCount</key>
		<string>32</string>
		<key>icon</key>
		<string>37e4761e6ecf56a2d78685df7157f097.png</string>
		<key>price</key>
		<string>98</string>
		<key>title</key>
		<string>味妙烤鱼吧</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>3</string>
		<key>icon</key>
		<string>5ee372ff039073317a49af5442748071.png</string>
		<key>price</key>
		<string>128</string>
		<key>title</key>
		<string>桃园酒家</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>4</string>
		<key>icon</key>
		<string>7f2b0d4c740582074e7700f1a57f5928.png</string>
		<key>price</key>
		<string>88</string>
		<key>title</key>
		<string>川辣汇</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>1</string>
		<key>icon</key>
		<string>2c97690e72365e38e3e2a95b934b8dd2.png</string>
		<key>price</key>
		<string>88</string>
		<key>title</key>
		<string>俏巴蜀</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>11</string>
		<key>icon</key>
		<string>9b437cdfb3e3b542b5917ce2e9a74890.png</string>
		<key>price</key>
		<string>39</string>
		<key>title</key>
		<string>蜜语芭蕾休闲西餐厅</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>3</string>
		<key>icon</key>
		<string>a5f46774487027f73ddb35dbb6e5a41c.png</string>
		<key>price</key>
		<string>108</string>
		<key>title</key>
		<string>Grinders 西餐酒吧</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>1</string>
		<key>icon</key>
		<string>71706090f542f04b7f65fffd78c8ef84.png</string>
		<key>price</key>
		<string>178</string>
		<key>title</key>
		<string>皇城小院</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>11</string>
		<key>icon</key>
		<string>c6ed252cac4d522a54db3c2c5931ddfc.png</string>
		<key>price</key>
		<string>35</string>
		<key>title</key>
		<string>京汉高尔夫俱乐部</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>1</string>
		<key>icon</key>
		<string>568683520cc56be42038369542a0d5dc.png</string>
		<key>price</key>
		<string>168</string>
		<key>title</key>
		<string>蜀国演义酒楼</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>3</string>
		<key>icon</key>
		<string>2010e3a0c7f88c3f5f5803bf66addd93.png</string>
		<key>price</key>
		<string>58</string>
		<key>title</key>
		<string>昆达理尼瑜伽馆黄金殿</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>1</string>
		<key>icon</key>
		<string>eb83ba2a2bf3098e324350ce88d6b862.png</string>
		<key>price</key>
		<string>999</string>
		<key>title</key>
		<string>正院大宅门</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>2</string>
		<key>icon</key>
		<string>d40878ee9d97a53bd4b8778daa11d38d.png</string>
		<key>price</key>
		<string>78</string>
		<key>title</key>
		<string>江边码头烤鱼</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>1094</string>
		<key>icon</key>
		<string>97726b804a2558308098bd59edc833fa.png</string>
		<key>price</key>
		<string>85.5</string>
		<key>title</key>
		<string>将太无二</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>1</string>
		<key>icon</key>
		<string>7003217f16ed29bab85e635a3bd6b60d.png</string>
		<key>price</key>
		<string>128</string>
		<key>title</key>
		<string>巴蜀轩烤鱼专家</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>2</string>
		<key>icon</key>
		<string>a6c484045581f45e50db68e4f5dc734c.png</string>
		<key>price</key>
		<string>318</string>
		<key>title</key>
		<string>金色阳光俱乐部</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>150</string>
		<key>icon</key>
		<string>3714230523e78c839947694f3e97f0a5.png</string>
		<key>price</key>
		<string>79</string>
		<key>title</key>
		<string>川军本色/龙人居酒楼</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>2</string>
		<key>icon</key>
		<string>53453be0d2dd458c057286d17f6b9306.png</string>
		<key>price</key>
		<string>228</string>
		<key>title</key>
		<string>V SPORTS运动餐吧</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>8</string>
		<key>icon</key>
		<string>40bfb033914af7d2929672547ee3b793.png</string>
		<key>price</key>
		<string>138</string>
		<key>title</key>
		<string>新侨饭店春晓西餐厅</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>1</string>
		<key>icon</key>
		<string>697543a3d92b82bfddb489a777ba8b45.png</string>
		<key>price</key>
		<string>269</string>
		<key>title</key>
		<string>内厨雅居</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>3</string>
		<key>icon</key>
		<string>f252d28753b7c58366976b3288b6cfed.png</string>
		<key>price</key>
		<string>39</string>
		<key>title</key>
		<string>蜜语芭蕾休闲西餐厅</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>1</string>
		<key>icon</key>
		<string>1d0da4d385823af04776c460c903faa8.png</string>
		<key>price</key>
		<string>199</string>
		<key>title</key>
		<string>巴厘岛国际温泉商务会馆</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>421</string>
		<key>icon</key>
		<string>83e2467818f5d074ca9a2406d740f5e1.png</string>
		<key>price</key>
		<string>25.5</string>
		<key>title</key>
		<string>味千拉面</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>2</string>
		<key>icon</key>
		<string>4d87662eb452b87877da529c7d058e52.png</string>
		<key>price</key>
		<string>158</string>
		<key>title</key>
		<string>富侨足疗</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>1</string>
		<key>icon</key>
		<string>3ffbdc75f05d5d1a807aa8de0b997bee.png</string>
		<key>price</key>
		<string>98</string>
		<key>title</key>
		<string>陶冶摄影工作室</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>2240</string>
		<key>icon</key>
		<string>fb66ceeef78479b04e61ddc10862cf03.png</string>
		<key>price</key>
		<string>0.9</string>
		<key>title</key>
		<string>水晶丝袜</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>4</string>
		<key>icon</key>
		<string>b8208d1a2408f5ba66bbdea01c0e18d2.png</string>
		<key>price</key>
		<string>128</string>
		<key>title</key>
		<string>V SPORTS运动餐吧</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>1</string>
		<key>icon</key>
		<string>7003217f16ed29bab85e635a3bd6b60d.png</string>
		<key>price</key>
		<string>78</string>
		<key>title</key>
		<string>巴蜀轩烤鱼专家</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>2</string>
		<key>icon</key>
		<string>d16f2a67e7560ef0ceb395d84f8a91f7.png</string>
		<key>price</key>
		<string>58</string>
		<key>title</key>
		<string>秀颜坊皮肤问题修复中心</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>67</string>
		<key>icon</key>
		<string>9cf5705e73932ba2eb1612477937e3bd.png</string>
		<key>price</key>
		<string>118</string>
		<key>title</key>
		<string>京仪大酒店玫瑰苑咖啡厅</string>
	</dict>
	<dict>
		<key>buyCount</key>
		<string>80</string>
		<key>icon</key>
		<string>261cfe946d93f9be7d86bace4573c431.png</string>
		<key>price</key>
		<string>589</string>
		<key>title</key>
		<string>内厨雅居</string>
	</dict>
</array>
</plist>
